<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- This appender writes general console output to the screen. No logging 
		artifacts are added to the output, it is plain for user readability. This 
		is done by only logging at INFO level with a plain pattern layout. -->
	<appender name="consoleAppender" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelMatchFilter">
			<param name="LevelToMatch" value="info" />
			<param name="AcceptOnMatch" value="true" />
		</filter>
		<filter class="org.apache.log4j.varia.DenyAllFilter" />
	</appender>

	<!-- This appender writes logging information to the screen for every level 
		except INFO. The output includes logging artifacts (e.g. thread name). -->
	<appender name="stdout" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%5p [%t] %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelMatchFilter">
			<param name="LevelToMatch" value="info" />
			<param name="AcceptOnMatch" value="false" />
		</filter>
	</appender>

	<!-- This appender writes all output to the log file. -->
	<appender name="fileAppender" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="s3-directory-listing.log" />
		<!-- TODO: Change to true for production -->
		<param name="Append" value="false" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%p [%t] %m%n" />
		</layout>
	</appender>

	<root>
		<priority value="info" />
		<appender-ref ref="consoleAppender" />
		<!-- <appender-ref ref="stdout" /> -->
		<appender-ref ref="fileAppender" />
	</root>

</log4j:configuration>
